{% extends 'base.html'%}
{% block main %}
<p>add a Lecturer</p>
<form method="POST" >
  {% csrf_token %}
  <div class="mb-3">
    <label for="lecturerName" class="form-label">Lecturer Name</label>
    <input type="text" class="form-control" id="lecturerName" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="department" class="form-label">Department</label>
    <input type="text" class="form-control" id="department" name="department" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit Lecturer</button>
</form>
{% endblock %}