{% extends 'base.html' %}
{% block main %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #333;">
        <div class="col-md-6" style="width: 400px;">
            <h2 style="color: white;">Login</h2>
            <form method="POST" class="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label" style="color: white;">Username</label>
                    <input type="text" class="form-control" id="username" name="username" style="color: black;">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" style="color: white;">Password</label>
                    <input type="password" class="form-control" id="password" name="password" style="color: black;">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <p style="color: white;">{{ error }}</p>
        </div>
    </div>
{% endblock %}
