{% extends 'base.html' %}
{% block main %}
<h1>Reviews</h1>
<div class="row">
    {% for review in reviews %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ review.lecturer.name }}</h5>
                <div class="card-text">{{ review.comment }}</div>
                <div class="card-text">Rating: {{ review.rating }}</div>
                <div class="card-text">Reviewed by: {{ review.student.first_name }}</div>
                <div class="card-text">Review date: {{ review.review_date }}</div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col">
        <p>No reviews yet.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}